@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

body{
    margin: 0;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside main'
        'footer footer';
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr max-content;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}


.items{
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: 2em;
}